
:root {
  --primary-color: rgb(166, 197, 204);
  --primary-color-darker: #093038;
  --color-open: #6BE36B;
  --container:rgba(252, 252, 252, 0.8);
  --input: transparent;
  --input-bottun:#000;
  --back: url(../img/back.jpg);
 
}
.dark{
  --input-bottun:#fff;
  --back: url(../img/back-dark.jpg);
  --container:#093038;
}

* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  outline: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  border-radius: 50%;
  padding: 5px;
  color: var(--input-bottun);
  transition: 1s;
  border: none;
  }

body {
  color: var(--input-bottun);
  margin: 0;
  padding: 0;
  background-image: var(--back);
  background-size: cover;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.tarefas{
  padding: 0;
}
.tarefa{
  text-align: center;
}

ul li{
  padding: 0;
  list-style-type: none;
  margin: 10px;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: var(--container);
  padding: 30px;
  border-radius: 10px;
}

input[type="text"]{
  width: 560px;
  padding: 7px;
  color: var(--input-bottun);
  background-color: var(--input);
  border: solid 0.2px var(--input-bottun)
}

button[type="submit"]{
  padding: 7px;
  color: var(--input-bottun);
  background-color: var(--input);
}

button[type="submit"]:hover{
  color: var(--input-bottun);
  background-color: blueviolet;
  transition: 1s;
  border: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* compensar as margens negativas nos itens da linha */
}


.col {
  display: flex;
  color: var(--input-bottun);
  background-color: var(--color-open);
  width: 650px;
  height: 50px;
  padding: 0 10px;
  
}

.text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.buttons button{
  color: var(--input-bottun);
  background-color: transparent;
  border: none;
}

span:hover{
  padding: 2px;
}

/* Media queries para ajustar o layout em diferentes tamanhos de tela */
@media (max-width: 768px) {
  .col {
      flex: 0 0 100%; /* 100% de largura em telas menores que 768px */
  }
}
